.Portfolio {
	position: relative;
  }
  .Portfolio .box {
	border-radius: 10px;
	position: relative;
  }
  .Portfolio .box:hover {
	background: none;
	transform: translateY(-0);
  }
  
  .Portfolio .img {
	height: 220px;
	overflow: hidden;
	transition: 0.5s;
  }
  .Portfolio img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: 0.5s;
  }
  .Portfolio .box .img:hover img {
	transform: scale(1.2);
  }
  .Portfolio .category {
	margin: 20px 0 30px 0;
	text-transform: uppercase;
  }
  .Portfolio .category span {
	color: #ff014f;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 500;
  }
  .Portfolio .arrow {
	position: absolute;
	right: 30px;
	bottom: 11%;
	transform: rotate(-45deg);
	color: #ff014f;
	opacity: 0;
	transition: 0.5s;
  }
  .Portfolio .title:hover .arrow {
	opacity: 1;
  }
  .Portfolio h2 {
	font-size: 18px;
	transition: 0.5s;
	padding-bottom: 30px;
  }
  .Portfolio .box:hover h2 {
	color: #ff014f;
  }
  
  .Portfolio .box:hover {
	color: black;
  }
  /*------------popup--------*/
  body.active-modal {
	overflow-y: hidden;
  }
  
  .btn-modal {
	padding: 10px 20px;
	display: block;
	margin: 100px auto 0;
	font-size: 18px;
  }
  
  .modal,
  .overlay {
	width: 100vw;
	height: 100vh;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 9999;
  }
  
  .overlay {
	/* background-color: #ecf0f3; */
	background-color: transparent;
  }
  .modal-content {
	position: absolute;
	top: 4%;
	left: 8%;
	right: 8%;
	line-height: 1.4;
	background: #f0f3f5;
	padding: 14px 28px;
	border-radius: 3px;
	/* height: 95%; */
	max-height: 95%;
	min-height: 60%;

	max-width: 90%;
	min-width: 60%;
	z-index: 9999;
	padding: 10px;
	border-radius: 10px;
  }
  
  .modal-text {
	padding: 0 100px 0 50px;
  }
  .modal-text h1 {
	margin: 20px 0 20px 0;
	font-size: 30px;
  }
  .modal-text p {
	font-size: 17px;
	margin-bottom: 20px;
	line-height: 25px;
  }
  .modal-text button {
	margin-right: 20px;
	color: #ff014f;
  
  }
  .modal-text button i {
	margin-left: 10px;
  }
  .modal-text button.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	padding: 0 0;
	font-size: 20px;
  }
  .modal-text button.close-modal i {
	margin: 0;
  }
  /*------------popup--------*/
  @media (max-width: 768px) {
	.modal,
	.overlay {
	  overflow: scroll;
	}
  
	.modal .modal-img {
	  margin: 50px 0 50px 0;
	}
	.modal-content {
	  flex-direction: column;
	}
	.modal .right,
	.modal .left {
	  padding: 0;
	}
  }

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
} */


/* body {
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f3;
} */
.container3 {
  max-width: 95%;
  padding: 10px 30px; 
  margin-left: 30px; 
  margin-bottom: 40px; 
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
}
.btn_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}
.btn_shadow:hover {
  background: #ff014f;
  color: white;
  transform: translateY(-10px);
}
.box_shodow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}
.fas-close {  
  display: flex;
  line-height: 10px;
  font-size: 1.5rem;
  padding-left: 13px;
  padding-top: 3px;
  color: #534b4b;
  transition: all .4s ease-in-out;
}
.row,
.left,
.right {
  width: 50%;
}
/* .top {
  margin-top: -30px;
} */
.mtop {
  margin-top: 40px;
}
.heading {
  margin: 50px 0 50px 0;
}
.heading h4 {
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h2 {
  font-size: 60px;
  color: #3c3e41;
}
h2 {
  color: #3c3e41;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

p {
  color: #3c3e41;
}

.text-center {
  text-align: center;
}

.primary_color {
  color: #ff014f;
}

textarea,
input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #e2e8ec;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .left,
  .right {
    width: 100%;
  }
}

  