* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.hero,
.resume,
.portfolio,
.contact {
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.hero {
  /* background: url('../public/images/home.jpg') center center/cover no-repeat; */
  background: #111E64;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.resume {
  display: flex;
  background-image: url('../public/images/desk1.jpg');
  width: 100%;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}

.portfolio {
  display: flex;
  background-image: url('../public/images/desk1.jpg');
  width: 100%;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}

.contact {
  display: flex;
  background-image: url('../public/images/img-8.jpg');
  width: 100%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}
